<!DOCTYPE html>
<head1>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>page title</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
 <link rel="stylesheet" href="main.css" />
 <script src="main.js"></script>
</head1>
<html lang="ja">
<body>
 <h1>認証しました</h1>
 <p>10秒後にジャンプします。<br>
 ジャンプしない場合は以下のボタンをクリックしてください</p>
 <a href="/">
 <div style="margin-left:10%;margin-right:10%;">
 <input type="button" style="position: absolute; left: 23%; top: 40%;width:200px;height:200px" value="TOP" />
 </div>
 </a>
</body>
<head>
 <meta charset="uft-8">
 <meta http-equiv="refresh" content="10;URL=/">
 <title>FaceiDoor</title>
</head>
</html>